@page
@model Online_Book_Store.Pages.Book_aditional_info.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book_additional_info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Book_additional_info.ID" />
                <input type="hidden" asp-for="Book_additional_info.Book_ID" />

            <div class="form-group">
                <label asp-for="Book_additional_info.Description" class="control-label"></label>
                <input asp-for="Book_additional_info.Description" class="form-control" />
                <span asp-validation-for="Book_additional_info.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" asp-page-handler="CtrlS" class="btn btn-primary" />
                <br />
                <input type="submit" value="Delete" asp-page-handler="ShiftDel" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Books/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
