@page
@model Online_Book_Store.Pages.Authors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="jumbotron p-0 d-flex justify-content-between">
    <h1 class="display-4 text-warning">Edit Author</h1>
    <h2 class="display-4">@Model.Author.Name</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Author.ID" />
                <div class="form-group">
                    <label asp-for="Author.Name" class="control-label"></label>
                    <input asp-for="Author.Name" class="form-control" />
                    <span asp-validation-for="Author.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author.Born" class="control-label"></label>
                    <input asp-for="Author.Born" class="form-control" />
                    <span asp-validation-for="Author.Born" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author.Colledge" class="control-label"></label>
                    <input asp-for="Author.Colledge" class="form-control" />
                    <span asp-validation-for="Author.Colledge" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author.University" class="control-label"></label>
                    <input asp-for="Author.University" class="form-control" />
                    <span asp-validation-for="Author.University" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author.Email" class="control-label"></label>
                    <input asp-for="Author.Email" class="form-control" />
                    <span asp-validation-for="Author.Email" class="text-danger"></span>
                </div>
            </div>

            <hr />
            <div class="d-flex justify-content-between">
                <div>
                    <input type="submit" value="Save Changes" class="btn btn-warning" />
                </div>
                <div>
                    <a asp-page="./Index" class="btn btn-outline-warning">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
