@page
@model Online_Book_Store.Pages.Authors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="bg-white sticky-top">
    <div class="jumbotron p-3">
        <form>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <h1 class="display-3">Authors</h1>
                </div>
                <!-- Authors search bar and search button -->
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <br />
                    <input asp-for="SearchString" class="p-0" style="width: 100%" placeholder="Search Author" />
                    <input type="submit" value="Search" class="p-0 btn btn-outline-warning btn-block" onclick="this.form.submit();" />
                </div>
                <!-- New Author button and checkbox -->
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div>
                        <br />
                        <a asp-page="Create" class="p-0 btn btn-warning btn-block">Add Author</a>
                    </div>
                    <label asp-for="Unassigned">Unassigned Authors</label>
                    <input asp-for="Unassigned" onchange="this.form.submit();" />
                </div>
            </div>
        </form>
    </div>

    <div class="d-flex bg-warning">
        <div style="flex: 0 0 35%" class="font-weight-bold">Name</div>
        <div style="flex: 0 0 25%" class="font-weight-bold text-secondary">Born</div>
        <div style="flex: 0 0 50%" class="text-primary">Colledge / University</div>
    </div>

</div>

<!--info message and image that appears if search has no results-->
@if (Model.Author.Count == 0)
{
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12 text-secondary">
            <h3>Oops, nothing found</h3>
            <p>check if name is typed correctly, try typing part of the name</p>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <img src="~/BookSearching.png" />
        </div>
    </div>
}

<table class="table">
    <tbody>
        @foreach (var a in Model.Author)
        {
            string Date = a.Born.ToString("dd.MM.yyyy.");//formating DateTime
            string backgroundColor = a.BookAuthor.Any() ? string.Empty : "lightGreyBg";
            if (a.BookAuthor.Any() || Model.Unassigned)
            {
                <a asp-page="./Details" asp-route-id="@a.ID" class="d-flex linkModifier">
                    <div class="row @backgroundColor ContentWidth100Centered" style="border-bottom: 1px solid; padding: 2px 1px">
                        <div class="col-lg-4 col-sm-12">
                            @a.Name
                        </div>
                        <div class="col-lg-3 col-sm-12 text-secondary">
                            @Date
                        </div>
                        <div class="col-lg-5 col-sm-12 text-primary">
                            @Html.DisplayFor(modelItem => a.Colledge) / @Html.DisplayFor(modelItem => a.University)
                        </div>
                    </div>
                </a>
            }
        }
     </tbody>
</table>
