@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div style="position: absolute;">
    <h1 class="text-danger">Error: <span class="text-white-50">Looks like unforeseen consequences occurred...</span></h1>
</div>

<img src="~/ErrorImg.jpg" style="width: 100%"/>
