@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron pt-5  text-center">
    <h1 class="display-4">Online Book Store</h1>
    <br />
    <p>Online Library of books on scientific topics</p>
    <br />
    <form action="./Books/Index">
        <input type="submit" value="Book Inventory" class="btn btn-outline-warning" />
    </form>
</div>
<div >
    <p class="disclaimer">DISCLAIMER: This is NOT an actual online bookstore. This is a demo website with the sole purpose of demonstrating my programming skillset.</p>
</div>
