@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron pt-5  text-center">
    <h1 class="display-4">Online Book Store</h1>
    <br />
    <p>We are ambitious startup* in book dealership</p>
    <br />
    <p>We love science, therefore we ofer books on scientific topics</p>
    <br />
    <p>Take a look at our cool new online store*</p>

    <form action="./Books/Index">
        <input type="submit" value="Enjoy!" class="btn btn-outline-warning" />
    </form>
</div>
<div >
    <p class="disclaimer">DISCLAIMER: This is NOT an actual online bookstore. This Company doesn`t exist. This is a demo website with sole purpose to demonstrate my programming skillset.</p>
</div>
