@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="jumbotron p-0">
    <h1 class="display-4 text-white text-left">@ViewData["Title"]</h1>
</div>

<p>IMPORTANT DISCLAIMER: This is NOT an actual online bookstore. This Company doesn`t exist. This is a demo website whith sole purpouse to demonstrate my programming skillset. Every Information on this site is fictional - every similarity wihth real World is accidental.</p>

<p>This code is published on Github under username <em>IlijaQ</em> / <em>online-book-store</em> repository, and it`s protected with <strong>MIT licence</strong>.</p>

<p>COOKIE POLICY: This site doesn`t provide Cookies and I dont`t track any logging activity.</p>
<p>Database is to be restored regularly.</p>

<hr />
<p>Thanks to <a href="https://www.codecademy.com" target="_blank">CodeCademy</a> for awesome programming courses.</p>

<p>Thanks to <a href="https://mycodingtips.com" target="_blank">MyCodingTips</a> for providing code examples and helping me implement CRUD operations for many-to-many database (Book.Create and Book.Edit)</p>

<p>Special tahnks to Dule for helping along the way.</p>
<hr />
<p>Written in C# ASP.NET Razor</p>
<p>Style: Bootstrap library, some tips from CodeCademy</p>
<p>Database created using Microsoft Entity Framework - Code First approach</p>
<a href="~/DbShema.png" target="_blank">Database Shema</a>


