@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="jumbotron p-0">
    <h1 class="display-4 text-white text-left">@ViewData["Title"]</h1>
</div>

<p>IMPORTANT DISCLAIMER: This is NOT an actual online bookstore. This Company doesn`t exist. This is a demo website with sole purpose to demonstrate my programming skillset. Every information on this site is fictional - every similarity with real World is accidental.</p>

<p>
    This code is published on Github under username
    <a href="https://github.com/IlijaQ" target="_blank"><em>IlijaQ</em></a>
    /
    <a href="https://github.com/IlijaQ/online-book-store" target="_blank"><em>online-book-store</em></a>
    repository, and it`s protected with <strong>MIT licence</strong>.
</p>
<p>Written in C# ASP.NET Razor Pages.</p>
<p>
    Database created using Microsoft Entity Framework - Code First approach.
    Database is to be restored regularly. <a href="~/DbShema.png" target="_blank">Database Shema</a>
</p>

<br />

<p>My other projects:</p>
<ul>
    <li>
        Contributing Developer to
        <a href="http://gitextensions.github.io/" target="_blank">Git Extensions</a>
        open-source project (
        <a href="https://github.com/gitextensions/gitextensions/blob/master/contributors.txt" target="_blank">contributors list</a>,
        <a href="https://github.com/gitextensions/gitextensions/pull/11109" target="_blank">contributing example</a>
        )
    </li>
    <li>
        <a href="http://github.com/IlijaQ/job-application-log" target="_blank">Job Application log</a>
        Desktop application in Windows forms
    </li>
</ul>

<hr />

<form method="post">
    <a href="https://linkedin.com/in/ilija-kujovic-126352204" target="_blank">
        <img src="~/LinkedinLogo.png" alt="LinkedIn">
    </a>
    <a href="https://github.com/IlijaQ" target="_blank">
        <img src="~/GithubIcoBlack.png" alt="Github">
    </a>
    <input type="submit" value="Send me an Email" class="btn btn-info" />
</form>
