@page
@model Online_Book_Store.Pages.Books.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="jumbotron p-0 d-flex justify-content-between">
    <h1 class="display-4 text-warning">Create Book</h1>
</div>

<div>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="d-flex justify-content-between">
            <div>
                <!--Levo-->
                <div class="form-group">
                    <label asp-for="Book.Title" class="control-label">Title</label>
                    <input asp-for="Book.Title" class="form-control" />
                    <span asp-validation-for="Book.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.Genre" class="control-label">Genre</label>
                    <input asp-for="Book.Genre" class="form-control" />
                    <span asp-validation-for="Book.Genre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.Rating" class="control-label">Rating</label>
                    <input asp-for="Book.Rating" class="form-control" />
                    <span asp-validation-for="Book.Rating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.Publish_date" class="control-label">Publish date</label>
                    <input asp-for="Book.Publish_date" class="form-control" />
                    <span asp-validation-for="Book.Publish_date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.Price" class="control-label">Price</label>
                    <input asp-for="Book.Price" class="form-control" />
                    <span asp-validation-for="Book.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BookAdditionalInfo.Description" class="control-label">Description</label>
                    <input asp-for="BookAdditionalInfo.Description" class="form-control" />
                    <span asp-validation-for="Book.Price" class="text-danger"></span>
                </div>
            </div>
            <div>
                <!--Centar-->
                Select Author:
                <br />
                @for (int i = 0; i < Model.AuthorList.Count; i++)
                {
                    <input asp-for="@Model.AuthorList[i].Value" type="hidden" />
                    {
                        <input asp-for="@Model.AuthorList[i].Selected" /> @Model.AuthorList[i].Text
                    }
                    <br />
                }
            </div>
            <div>
                <!--Desno-->
                New Author:
                <br />
                <br />
                <div class="form-group">
                    <label asp-for="NewAuthorName" class="control-label">Name</label>
                    <input asp-for="NewAuthorName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="NewAuthorBorn" class="control-label">Born</label>
                    <input asp-for="NewAuthorBorn" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="NewAuthorColledge" class="control-label">Colledge</label>
                    <input asp-for="NewAuthorColledge" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="NewAuthorUniversity" class="control-label">University</label>
                    <input asp-for="NewAuthorUniversity" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="NewAuthorEmail" class="control-label">Email</label>
                    <input asp-for="NewAuthorEmail" class="form-control" />
                </div>
            </div>
        </div>

        <hr />
        <div class="d-flex justify-content-between">
            <div class="form-group">
                <input type="submit" value="Create Book" class="btn btn-warning" />
            </div>
            <div>
                <a asp-page="Index" class="btn btn-outline-warning">Back to List</a>
            </div>
        </div>
        
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
